POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=shortener
MIGRATIONS_PATH=migrations
SECRET_KEY=your_secret_key

DB_URL=postgres://postgres:secret@postgres:5432/shortener?sslmode=disable

PORT=8080